* {
  box-sizing: border-box;
  align-items: center;
}

.grandparent {
  background-color: aqua;
  width: 200px;
  height: 200px;
}
.parent {
  background-color: antiquewhite;
  width: 150px;
  height: 150px;
}
.child {
  background-color: aliceblue;
  width: 100px;
  height: 100px;
}
